body{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
.name-highlight{
    color:#eb6b03;
}
h1{
    font-size: 50px;
}
.half-width{
    width: 40%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;

}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("../images/top-banner.png");
}
    
section{
    height: 400px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(lightSalmon, tomato);
    padding: 10px 20px;
    color:rgba(19, 0, 0, 0.863);
    border-radius: 5px;
    font-weight: 700;
}